@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --ff-primary: "Inter", sans-serif;
    --bg-background: rgb(255 255 255);
  }

  .dark {
    --bg-background: rgb(38 38 38);
  }

  * {
    @apply [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-thumb]:bg-gray-300 dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500 [&::-webkit-scrollbar-track]:bg-gray-100 dark:[&::-webkit-scrollbar-track]:bg-neutral-700 [&::-webkit-scrollbar]:w-2;
  }

  body {
    font-family: var(--ff-primary);
  }
}

@layer utilities {
  .stroked {
    color: currentColor;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px currentColor;
  }
}

.postEngagement__count {
  overflow: hidden;
  display: grid;
  height: 1.5em;
}

.postEngagement__count > span {
  display: block;
  height: 100%;
  transform: translateY(0%);
  animation: slide-up 0.3s forwards;
}

@keyframes slide-up {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-100%);
  }
}
